@model IEnumerable<Airport_Management_System.Models.FlightDto>

@{
    ViewBag.Title = "List";
}

<h2>List Flights</h2>
<a href="/Flight/New" type="button" class="btn btn-info">Add A Flight</a>

<table>
    <tr>
        <th>Flight Number </th>
        <th>Airline</th>
        <th>Terminal</th>
        <th>Gate</th>
        <th>Status</th>
        <th>Destination</th>
        <th>Departure Time</th>
    </tr>
    @foreach (var flight in Model)
    {
        <tr>
            <td>@flight.FlightNum</td>
            <td>@flight.Airline</td>
            <td>@flight.Terminal</td>
            <td>@flight.Gate</td>
            <td>@flight.FlightStatus</td>
            <td>@flight.Destination</td>
            <td>@flight.DepartureTime</td>
            <td><a href="/Flight/Details/@flight.FlightId">View Details</a></td>
        </tr>
    }
    </table>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th{
        font-weight:bold;
    }

    th, td {
        text-align: center;
        padding: 10px 15px;
    }

    tr:nth-child(even) {
        background-color: lightsteelblue;
    }
</style>
