@model Airport_Management_System.Models.PassengerDto

@{
    ViewBag.Title = "View";
}

<div class="link">
    <a type="button" class="btn btn-warning" href="/Passenger/List">Go Back to list</a>
    <a type="button" class="btn btn-danger right" href="/Passenger/DeleteConfirm/@Model.PassengerId">Delete</a>
    <a type="button" class="btn btn-info right" href="/Passenger/Edit/@Model.PassengerId">Edit</a>
</div>


<h2>@Model.PassengerFName @Model.PassengerLName</h2>
<div>Passport Number: @Model.PassengerPassport</div>
<div>Check-in Time: @Model.CheckInStatus</div>
<div>Class: @Model.PassengerSeatingClasses</div>
<div>Seating Number: @Model.PassengerSeatingNum</div>
<div>Flight: @Model.FlightNum</div>









<style>
    .right {
        float: right;
        margin-left: 5px;
    }

    .link {
        margin: 15px 0;
    }
</style>