@model Airport_Management_System.Models.ViewModels.UpdatePassenger

@{
    ViewBag.Title = "Edit";
}

<div>
    <h1>Edit Passenger Info</h1>

</div>
<nav>
    <ul>
        <li><a href="/Passenger/Details/@Model.SelectedPassenger.PassengerId">Back to @Model.SelectedPassenger.PassengerFName @Model.SelectedPassenger.PassengerLName </a></li>
        <li><a href="/Passenger/List">Go back to passenger list</a></li>
    </ul>
</nav>

<form action="/Passenger/Update/@Model.SelectedPassenger.PassengerId" method="POST">
    <div style="display:none;">
        @* Pass through the passenger ID *@
        <input type="number" name="PassengerId" value="@Model.SelectedPassenger.PassengerId" />
    </div>
    <div>
        <label>First name: </label><input type="text" name="PassengerFName" value="@Model.SelectedPassenger.PassengerFName" />
    </div>
    <div>
        <label>Last name: </label><input type="text" name="PassengerLName" value="@Model.SelectedPassenger.PassengerLName"/>
    </div>
    <div>
        <label>Passport number: </label><input type="text" name="PassengerPassport" value="@Model.SelectedPassenger.PassengerPassport"  />
    </div>
    <div>
        <label>Check-in time: </label><input type="datetime-local" value="@Model.SelectedPassenger.CheckInStatus" name="CheckInStatus" />
    </div>
    <div>
        <label>Class: </label><input type="text" name="PassengerSeatingClasses" value="@Model.SelectedPassenger.PassengerSeatingClasses"  />
    </div>
    <div>
        <label>Seating number: </label><input type="text" name="PassengerSeatingNum" value="@Model.SelectedPassenger.PassengerSeatingNum"  />
    </div>
    <div>
        <label>Flight Id: </label>

        <select name="FlightId">
            @foreach (var flight in Model.FlightsOptions)
            {
                <option value="@flight.FlightId">@flight.FlightNum</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Passenger" />
    </div>
</form>