@model Airport_Management_System.Models.ViewModels.UpdatePassenger

@{
    ViewBag.Title = "Edit";
}

<div>
    <h1>Edit Passenger Info</h1>

</div>

<a type="button" class="btn btn-warning" href="/Passenger/List">Back to passenger list</a>
<a href="/Passenger/Details/@Model.SelectedPassenger.PassengerId" type="button" class="btn btn-info">Back to @Model.SelectedPassenger.PassengerFName @Model.SelectedPassenger.PassengerLName</a>

<form action="/Passenger/Update/@Model.SelectedPassenger.PassengerId" method="POST" enctype="multipart/form-data">
    <div style="display:none;">
        @* Pass through the passenger ID *@
        <input type="number" name="PassengerId" value="@Model.SelectedPassenger.PassengerId" />
    </div>
    <div class="form-group">
        <label for="PassengerFName">First name: </label>
        <input type="text" name="PassengerFName" value="@Model.SelectedPassenger.PassengerFName" id="PassengerFName"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="PassengerLName">Last name: </label>
        <input type="text" name="PassengerLName" value="@Model.SelectedPassenger.PassengerLName" id="PassengerLName"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="PassengerPassport">Passport number: </label>
        <input type="text" name="PassengerPassport" value="@Model.SelectedPassenger.PassengerPassport"  id="PassengerPassport"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="CheckInStatus">Check-in time: </label>
        <input type="datetime-local" value="@Model.SelectedPassenger.CheckInStatus" name="CheckInStatus"  id="CheckInStatus"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="PassengerSeatingClasses">Class: </label>
        <input type="text" name="PassengerSeatingClasses" value="@Model.SelectedPassenger.PassengerSeatingClasses"  id="PassengerSeatingClasses"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="PassengerSeatingNum">Seating number: </label>
        <input type="text" name="PassengerSeatingNum" value="@Model.SelectedPassenger.PassengerSeatingNum"  id="PassengerSeatingNum"  class="form-control" />
    </div>
    <div class="form-group">
        <label for="FlightId">Flight Id: </label>

        <select name="FlightId" id="FlightId"  class="form-control" >
            @foreach (var flight in Model.FlightsOptions)
            {
                <option value="@flight.FlightId">@flight.FlightNum</option>
            }
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-primary" value="Update Passenger">Submit</button>
        <a href="/Passenger/Details/@Model.SelectedPassenger.PassengerId" type="button" class="btn btn-danger ">Cancel</a>

    </div>
</form>